<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>Vue入门</title>
    <script src="./js/vue.js"></script>
</head>

<body>
    <!-- 挂载点，模板，实例 -->
    <!-- 模板在挂载点下面 -->
    <div id="root">
        <!-- v-on:=可以简化成@ -->
        <h1 v-on:click="handleClick">Hello {{msg}}<br/></h1>
        <div v-text='contentText' v-on:click="handleClick"></div>
        <div v-html='contentHtml'></div>
        <!-- 属性绑定 -->
        <!-- v-bind:可以简化成: -->
        <div v-bind:title='title' @click="handleClick">click</div>
        <!-- 双向数据绑定 -->
        <input v-model='content'/>
        <div>{{content}}</div>
        <a>————————————————————————<br/></a>
        姓：<input v-model='firstName'/>
        名：<input v-model='lastName'/>
        <!-- <div>{{firstName}}{{lastName}}</div> -->
        <div>{{fullName}}</div>
        <div>{{count}}</div>


    </div>

    <script>
        new Vue({
            el: "#root",
            //模板会替换挂载点下的所有内容
            /* template:'<h1>hello {{msg}}</h1>', */
            data: {
                msg: "World",
                contentText:'<h1>this is contentText</h1>',
                contentHtml:'<h1>this is contentHtml</h1>',
                title:'点击click',
                content:'这里是内容',
                firstName:'',
                lastName:'',
                count:0
            },
            computed:{
                fullName:function(){
                    return this.firstName+' '+this.lastName
                }
            },
            methods:{
                handleClick:function(){
                    //alert(123)
                    this.msg="123"
                }
            },
            watch:{
                /* firstName:function(){
                    this.count++
                },
                lastName:function(){
                    this.count++
                } */
                fullName:function(){
                    this.count++
                }
            }
        })
    </script>
</body>

</html>